body {
  background-color: #8e44ad;
  height: 100vh;
}
.app-header,
.app-footer {
  background-color: #9b59b6;
  color: #ecf0f1;
  text-align: center;
  padding: 5px;
  width: 100vw;
}
.container {
  background-color: #ecf0f1;
  padding: 40px;
  max-width: 60%;
  max-height: 80%;
  border-radius: 10px;
  margin: 3% auto;
}
.success,
.error {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success {
  background: #27ae60;
}

.error {
  background: #e74c3c;
}
