body {
  padding: 0;
  margin: 0;
  background-color:#5D1F79;
  overflow: hidden;

  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Baloo Bhai', cursive;
  margin: 0 auto;
}
.app-header,
.app-footer {
  background-color: #9b59b6;
  color: #ecf0f1;
  text-align: center;
  padding: 5px;
  width: 100vw;
}
.app-header {
  top: 0;
}

.app-footer {
  position: fixed;
  bottom: 0;
}
.container {
  background-color: #ecf0f1;
  padding: 40px;
  max-width: 40%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 2px rgb(255, 254, 254);
  margin: 3% auto;
}
.success,
.error {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
  border-radius: 5px;
}

.success {
  background: #27ae60;
}

.error {
  background: #e74c3c;
}

/* Missing mobile styles */